@using Projekt_ASP_NET.Enums
@model Data.Entities.TravelEntity
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form asp-action="CreateGuide" asp-controller="Travel" method="post">
    <div asp-validation-summary="All"></div>

    <div class="mb-3">
        <label asp-for="Name">Nazwa Wycieczki</label>
        
        <span asp-validation-for="Name" class="text-danger"></span>
        
        <input class="form-control" type="text" asp-for="Name"/>
    </div>

    <div class="mb-3">
        <label asp-for="StartDate">Data rozpoczęcia wycieczki</label>
        
        <span asp-validation-for="StartDate" class="text-danger"></span>
        
        <input class="form-control" type="Date" asp-for="StartDate" />
    </div>

    <div class="mb-3">
        <label asp-for="EndDate">Data końca wycieczki</label>
        
        <span asp-validation-for="EndDate" class="text-danger"></span>
        
        <input class="form-control" type="Date" asp-for="EndDate" />
    </div>

    <div class="mb-3">
        <label asp-for="StartPlace">Miejsce rozpoczęcia wycieczki</label>
        
        <span asp-validation-for="StartPlace" class="text-danger"></span>
        
        <input class="form-control" type="text" asp-for="StartPlace" />
    </div>

    <div class="mb-3">
        <label asp-for="EndPlace">Miesjce zakonczenia wycieczki</label>
        
         <span asp-validation-for="EndPlace" class="text-danger"></span>
        
        <input class="form-control" type="text" asp-for="EndPlace" />
    </div>

    <div class="mb-3">
        <label asp-for="Participants">Uczestnicy</label>

        <span asp-validation-for="Participants" class="text-danger"></span>

        <input class="form-control" type="text" asp-for="Participants" />
    </div>

    
    <div class="form-group">
        <label asp-for="Guide"></label>
        <select class="form-control" asp-for="GuideId">
            @foreach(var item in ViewBag.GuideList)
            {
                <option value="@item.Id">@item.Name</option>
            }

        </select>
        <span class="text-danger" asp-validation-for="Guide"></span>
    </div>
    
    <button type="submit">Dodaj</button>
</form>