@using Projekt_ASP_NET.Enums
@model Data.Entities.TravelEntity
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <h2 class="mt-3">Dodaj nową wycieczkę</h2>
<form asp-action="Create" asp-controller="Travel" method="post">
    <div asp-validation-summary="All"></div>

        <div class="mb-3">
            <label asp-for="Name" class="form-label">Nazwa Wycieczki</label>
            <input class="form-control" type="text" asp-for="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="StartDate" class="form-label">Data rozpoczęcia wycieczki</label>
            <input class="form-control" type="date" asp-for="StartDate" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="EndDate" class="form-label">Data końca wycieczki</label>
            <input class="form-control" type="date" asp-for="EndDate" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="StartPlace" class="form-label">Miejsce rozpoczęcia wycieczki</label>
            <input class="form-control" type="text" asp-for="StartPlace" />
            <span asp-validation-for="StartPlace" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="EndPlace" class="form-label">Miejsce zakończenia wycieczki</label>
            <input class="form-control" type="text" asp-for="EndPlace" />
            <span asp-validation-for="EndPlace" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Participants" class="form-label">Uczestnicy</label>
            <input class="form-control" type="text" asp-for="Participants" />
            <span asp-validation-for="Participants" class="text-danger"></span>
        </div>

    
        <div class="form-group">
            <label asp-for="Guide"></label>
            <select class="form-control" asp-for="GuideId">
                @foreach(var item in ViewBag.GuideList)
                {
                    <option value="@item.Id">@item.Name</option>
                }

            </select>
            <span class="text-danger" asp-validation-for="Guide"></span>
        </div>
    
        <button type="submit" class="btn btn-primary">Dodaj</button>
</form>
</div>