@model Data.Entities.TravelEntity
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container tabela">
<h2>Usuwanie wycieczki o id @Model.Id</h2>
<form asp-controller="Travel" asp-action="Delete" method="post">
    <p>Czy na pewno usunąc</p>
    <button type="submit">Tak</button>
    <a asp-controller="Travel" asp-action="Index">Nie</a>

</form>
</div>