html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image:url(../Pictures/pix.jpg);
}
.bodies {
    display: flex !important;
    flex-direction: column !important;
    min-height: 100% !important;
    height:100% !important;
}
.btn-details {
    background-color: #007bff; /* Blue */
    border-color: #007bff;
}

.btn-delete {
    background-color: #dc3545; /* Red */
    border-color: #dc3545;
}

.btn-update {
    background-color: #28a745; /* Green */
    border-color: #28a745;
}

.footer{
    position:absolute;
    bottom:0;
    width:100%;
    white-space:nowrap;
    line-height:60px;
    border:0;
}
.colorFoot{
    background-color:#838383;
    color:white !important;
}
.mainik {
    padding-top: 16px !important;
}
.navbary{
    margin-bottom:0 !important;
}
.tabela{
    background-color:white;
    border:0;
    padding-bottom:16px;
}
.table td{
    border:1px solid black;
}
.table th{
    text-align:center;
    border:0;
}
.table th a{
    float:left;

}